body {
    background-image: url(../images/background.jpg);
    box-sizing: border-box;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

tr {
    font-family: Tahoma, Verdana, Segoe;
    color: white;
    border-bottom: 2px solid whitesmoke;
    border-width: thin;
    background-color: rgba(0, 0, 0, 0.7);
}

.navButton {
    padding: 15px 32px 15px 32px;
    margin: 1% 1% 1% 0px;
    border: 2px solid whitesmoke;
    color: white;
    width: 11%;
    font-size: 20px;
    font-weight: 700;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    cursor: pointer;
    float: right;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    /* Removes text underline */
    text-decoration: none;
}

.navButton:hover,
.navbutton:active {
    background-color: white;
    color: black;
}

.navbar {
    color: white;
    border-width: 20px;
    border-color: white;
    width: 100%;
    height: 10%;
    float: left;
}

.event1 {
    float: left;
    width: 45%;
    padding-right: 5px;
}

.event2 {
    width: 45%;
    float: right;
}

.table {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: none;
}

.likeBtn {
    position: relative;
    right: 200px;
}

#logo {
    width: 250px;
    margin: 1px 1px 1px 200px;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    clear: both;
}

#text {
    width: 800px;
    margin: 10px 0px 25px 0px;
    color: whitesmoke;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
}

#outerbox {
    height: 100%;
    width: 100%;
}

#navbar {
    color: white;
    border-width: 20px;
    border-color: white;
    width: 100%;
    height: 10%;
    float: left;
}

div.pic img {
    width: 100%;
    height: auto;
}

.image
{
    padding: 0 43px;
    float: left;
    width: 200px;
}

.desc {
    color: whitesmoke;
    background-color: rgba(255, 255, 255, 0.1);
    height: 100px;
    padding: 25px;
    text-align: center;
    line-height: 0.8;
}


a:link {
    color: whitesmoke;
    text-decoration: none;
}

a:visited {
    color: whitesmoke;
}

a:hover {
    color: deepskyblue;
}

#content {
    color: white;
    border-width: 20px;
    border-color: white;
    float: left;
    width: 60%;
    height: 700px;
}

#events {
    color: white;
    border-width: 20px;
    border-color: white;
    float: right;
    width: 40%;
    height: 75%;
}

#table1 {
    font-size: 20px;
    font-weight: 700;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    border: 1px solid black;
    background: transparent;
    border-collapse: collapse;
}

#table2 {
    font-size: 20px;
    font-weight: 700;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    border: 1px solid black;
    background: transparent;
    border-collapse: collapse;
}

#table3 {
    font-size: 20px;
    font-weight: 700;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    border: 1px solid black;
    background: transparent;
    border-collapse: collapse;
}

#table4 {
    font-size: 20px;
    font-weight: 700;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    border: 1px solid black;
    background: transparent;
    border-collapse: collapse;
}

#footer {
    color: white;
    border-width: 2px;
    border-color: white;
    width: 100%;
    height: 5%;
    clear: both;
}