body, wrapper {
    min-height:100vh;
 }
body {
    background-image: url(../images/background.jpg);
    box-sizing: border-box;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 120% auto;
    height: 100%;
    background-size: cover;
}
.logo {
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.3);
}
.text {
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.4);
}

.Description {
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.7);
}
.footer {
    color: white;
    clear: both;
    background-color: rgba(0, 0, 0, 0.70);
    position: fixed;  
    bottom: 0px;
    right: 0;
    left: 0;
    padding: 0rem;
}
.row{
    font-size: 12px;
    font-weight: 700;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    color: black border 1px solid black;
    background: transparent;
    border-collapse: collapse;
    color: white;
    border-width: thin;
    background-color: rgba(0, 0, 0, 0.7);
}