body {
    background-color: black;
    color: greenyellow;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: none;
}

tr {
    border-bottom: solid;
    border-width: thin;
}
